[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "assertthat"]
	path = assertthat
	url = https://github.com/hadley/assertthat
[submodule "babynames"]
	path = babynames
	url = https://github.com/hadley/babynames
[submodule "classifly"]
	path = classifly
	url = https://github.com/hadley/classifly
[submodule "cubelyr"]
	path = cubelyr
	url = https://github.com/hadley/cubelyr
[submodule "fueleconomy"]
	path = fueleconomy
	url = https://github.com/hadley/fueleconomy
[submodule "ggplot2movies"]
	path = ggplot2movies
	url = https://github.com/hadley/ggplot2movies
[submodule "ggvis"]
	path = ggvis
	url = https://github.com/cran/ggvis
[submodule "hflights"]
	path = hflights
	url = https://github.com/hadley/hflights
[submodule "highlight"]
	path = highlight
	url = https://github.com/hadley/highlight
[submodule "lazyeval"]
	path = lazyeval
	url = https://github.com/hadley/lazyeval
[submodule "lvplot"]
	path = lvplot
	url = https://github.com/hadley/lvplot
[submodule "meifly"]
	path = meifly
	url = https://github.com/hadley/meifly
[submodule "nasaweather"]
	path = nasaweather
	url = https://github.com/hadley/nasaweather
[submodule "plyr"]
	path = plyr
	url = https://github.com/hadley/plyr
[submodule "productplots"]
	path = productplots
	url = https://github.com/hadley/productplots
[submodule "profr"]
	path = profr
	url = https://github.com/hadley/profr
[submodule "proto"]
	path = proto
	url = https://github.com/hadley/proto
[submodule "pryr"]
	path = pryr
	url = https://github.com/hadley/pryr
[submodule "purrrlyr"]
	path = purrrlyr
	url = https://github.com/hadley/purrrlyr
[submodule "reshape"]
	path = reshape
	url = https://github.com/cran/reshape
[submodule "reshape2"]
	path = reshape2
	url = https://github.com/hadley/reshape
