[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "babynames"]
	path = babynames
	url = https://github.com/hadley/babynames
	shallow = true
[submodule "crantastic"]
	path = crantastic
	url = https://github.com/hadley/crantastic
	shallow = true
[submodule "cubelyr"]
	path = cubelyr
	url = https://github.com/hadley/cubelyr
	shallow = true
[submodule "fueleconomy"]
	path = fueleconomy
	url = https://github.com/hadley/fueleconomy
	shallow = true
[submodule "highlight"]
	path = highlight
	url = https://github.com/hadley/highlight
	shallow = true
[submodule "meifly"]
	path = meifly
	url = https://github.com/hadley/meifly
	shallow = true
[submodule "nasaweather"]
	path = nasaweather
	url = https://github.com/hadley/nasaweather
	shallow = true
[submodule "nycflights13"]
	path = nycflights13
	url = https://github.com/hadley/nycflights13
	shallow = true
[submodule "plyr"]
	path = plyr
	url = https://github.com/hadley/plyr
	shallow = true
[submodule "productplots"]
	path = productplots
	url = https://github.com/hadley/productplots
	shallow = true
[submodule "profr"]
	path = profr
	url = https://github.com/hadley/profr
	shallow = true
[submodule "proto"]
	path = proto
	url = https://github.com/hadley/proto
	shallow = true
[submodule "pryr"]
	path = pryr
	url = https://github.com/hadley/pryr
	shallow = true
[submodule "purrrlyr"]
	path = purrrlyr
	url = https://github.com/hadley/purrrlyr
	shallow = true
[submodule "rappdirs"]
	path = rappdirs
	url = https://github.com/hadley/rappdirs
	shallow = true
[submodule "reshape2"]
	path = reshape2
	url = https://github.com/hadley/reshape
	shallow = true
